sudo: false
language: node_js
node_js:
- '0.11'

env:
- TRAVIS=1

before_script:  # turn off screen
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

addons:
  firefox: "35.0"
notifications:
  email: false

before_deploy:
  - touch deploy/releases
  - date >> deploy/releases

deploy:
  provider: s3
  access_key_id: AKIAJGJURJAHEHGR7WFA
  secret_access_key:
    secure: b2wz2BN2iRlSmN6FjxhqKcPWeMdR40zlKRRbgu1fNEVczmuesnGh1ZaKwWuPwRlaK7B/LVeqT9eX388OMIOHIlFLnTLbXL0ZD7L/1oqUoYiAtM9QL4BSi0bHdCHqLX5ww78qguZ5HpboknxcmoLUh62Z4xlFdobQoQAC7VoIuOc=
  bucket: org.mozilla.self-repair
  skip_cleanup: true
  endpoint: org.mozilla.self-repair.s3-website-us-west-2.amazonaws.com
  region: us-west-2
  local-dir: deploy
  acl: public_read
  cache_control: "max-age=60"
  on:
    repo: mozilla/self-repair-server
